<div class="col-12 col-lg-4">
  <aside class="pt-3 pb-4 px-4 mb-5 card">
    <h1 class="h4 pt-2 pb-2">Моя компания</h1>
    <div class="nav flex-column nav-pills">
        {% url 'my_company' as url_my_company %}
        {% url 'my_company_vacancies_list' as url_my_company_vacancies_list %}
      <a class="nav-link {% if request.path == url_my_company %}active{% endif %}"
         href="{{ url_my_company }}">1. Информация о компании</a>
      <a class="nav-link  {% if request.path == url_my_company_vacancies_list %}active{% endif %}"
         href="{{ url_my_company_vacancies_list }}">2. Вакансии</a>
    </div>
  </aside>
</div>