{% extends "vacancies/base.html" %}
{% block content %}
{% load static %}
  <main class="container mt-3">
    {% include 'vacancies/block_previous_page.html' %}
    <section>
      <div class="text-center">
        <img src="{{ media_url }}{{ company.logo }}" width="130" height="80" alt="">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ company.name }}</strong></h1>
      <p class="text-center pt-1">Вакансий в компании: {{ vacancies|length }}</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% include 'vacancies/block_vacancy.html' %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}