{% extends "vacancies/base.html" %}
{% block content %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      {% include 'vacancies/block_mycompany_leftbar.html' %}
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->
              {% for vacancy in vacancies %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url 'vacancies_element' vacancy.id %}" class="mb-1">{{ vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">{{ vacancy.salary_min }}-{{ vacancy.salary_max }}</span><a
                              href="{% url 'my_company_vacancies_element' vacancy.id %}"
                              class="text-info">Откликов: {{ vacancy.apps_count }}</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'my_company_vacancies_element' vacancy.id %}"
                         class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="card mt-3">
                <a href="{% url 'my_company_vacancies_create' %}" class="btn btn-primary">Добавить вакансию</a>
              </div>
              <!-- END vacancy state 1 -->
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}