{% extends "vacancies/base.html" %}
{% block content %}
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{ specialty_title }}</strong></h1>
      <p class="text-center pt-1">Вакансий: {{ vacancies|length }}</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% include 'vacancies/block_vacancy.html' %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}